#Thu, 15 Jan 2026 23:08:02 +0100

config.stopBubbling=true
lombok.addLombokGeneratedAnnotation=true
lombok.addNullAnnotations=findbugs
lombok.builder.flagUsage=error
lombok.cleanUp.flagUsage=error
lombok.data.flagUsage=error
lombok.equalsAndHashCode.callSuper=warn
lombok.extern.findbugs.addSuppressFBWarnings=true
lombok.fieldDefaults.defaultFinal=true
lombok.fieldDefaults.defaultPrivate=true
lombok.getter.lazy.flagUsage=error
lombok.nonNull.flagUsage=error
lombok.sneakyThrows.flagUsage=error
lombok.toString.callSuper=warn
lombok.val.flagUsage=error
lombok.value.flagUsage=error
lombok.var.flagUsage=error
